<div class="c-section">
  <h1 class="c-title">Confirm Your Order</h1>
  <div class="c-card u-margin-bottom-small">
    <div class="c-section">
      <div class="book_cover">
          <% if @book.book_cover.attached? %>
            <%= image_tag @book.book_cover.variant(resize: "75x75") %>
          <% end %>
      </div>
      <div class="book-details">
        <h4 class="c-title c-title--small"><%= @book.title %></h4>
        <h4 class="c-title c-title--tiny">By: <%= @book.author.name %></h4>
      </div>
    </div>
  </div>
  <h4 class="c-title">Total: $<%= @book.price %></h4>
  <%= form_for [@book, @purchase], html: { id: "payment-form" } do |f| %>
    <div id="card-errors"><% @card_errors %></div>
    <%= f.hidden_field :stripe_token %>
    <div id="card-element">
      <!-- form info -->
    </div>
    <%= f.submit %>
  <% end %>
</div>
