<%= @book.title %>
<%= @book.price %>

<%= form_for [@book, @purchase], html: { id: "payment-form" } do |f| %>
  <div id="card-errors"><% @card_errors %></div>
  <%= f.hidden_field :stripe_token %>

  <div id="card-element">
    <!-- form info -->
  </div>
  <%= f.submit %>

<% end %>
