<div class="c-section">
  <h1 class="c-title c-title--large">Browse All Books</h1>
</div>
<div class="c-section">


  <% react_component("BooksTable", {
    books: Book.all

  }) %>




  <% @books.each do |book| %>
    <div class="c-card u-margin-bottom-small">
        <div class="c-section">
          <div class="book_cover">
            <% if book.book_cover.attached? %>
              <%= image_tag book.book_cover.variant(resize: "150x150") %>
            <% end %>
          </div>
          <div class="book-details">
          <h4 class="c-title"><%= book.title %></h4>
          <h4 class="c-title c-title--tiny"> By: <%= book.author.name %>
          </h4>
             <h4>$<%= book.price %></h4>

          <%= link_to "Learn More", book_path(book), class: "c-button c-button--small c-button--focal"%>
          </div>
        </div>
    </div>
  <% end %>
</div>
