<h1>Create New Book</h1>
<%# form_for @book, url: books_path do |form| %>
<%= form_for @book do |form| %>
  <div>Title: <%= form.text_field :title %></div>
  <div>Price: <%= form.text_field :price %></div>
  <div>Book Cover Image: <%= form.file_field :book_cover, direct_upload: true %></div>
  <div><%= form.submit %></div>
<% end %>
