<!DOCTYPE html>
<html>
  <head>
    <title>EcommerceBookStore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://js.stripe.com/v3/"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <div class="c-section">
<!--         this is me attempting to put sign in info on a different line
        <div>
          <ul class="c-navigation u--float-right">
            <li class="c-navigation__item">
              yo
            </li>
            <li class="c-navigation__item">
              yo
            </li>
          </ul>
        </div> -->
        <!-- <a class="c-link" href="#">Standalone Links</a> -->
        <ul class="c-navigation">
          <li class="c-navigation__item">
            <h2 class="c-title">BOOK STORE</h2>
          </li>
          <li class="c-navigation__item">
            <%= link_to("Shop Books", root_path, class: "c-navigation__link #{active_class(root_path)}") %>
          </li>
          <li class="c-navigation__item">
            <%= link_to("My Purchases", purchases_path, class: "c-navigation__link #{active_class(purchases_path)}") %>
          </li>
          <li class="c-navigation__item">
            <%= link_to("Add Book to Shop", new_book_path, class: "c-navigation__link #{active_class(new_book_path)}") %>
          </li>
          <% if current_user %>
            <li class="c-navigation__item c-navigation__item--push-right">
            <%= link_to("Sign Out", destroy_user_session_path, :method => 'delete', class: "c-navigation__link #{active_class(destroy_user_session_path)}") %>
            </li>
          <% else %>
            <li class="c-navigation__item c-navigation__item--push-right">
              <%= link_to("Sign In", new_user_session_path, class: "c-navigation__link #{active_class(new_user_session_path)}") %>
            </li>
            <li class="c-navigation__item">
               <%= link_to("Sign Up", new_user_registration_path, class:"c-button c-button--small #{active_class(new_user_registration_path)}") %>
            </li>
          <% end %>
        </ul>
      </div>
    </header>
    <%= yield %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
