<!DOCTYPE html>
<html>
  <head>
    <title>EcommerceBookStore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://js.stripe.com/v3/"></script>
  </head>
  <body>
    <header>
 <!--      <div class="nav--section">
        Book Store
      </div>
      <nav class="u--float-right nav--section">
        <a href="#">Topics</a>
        <a href="#">Tags</a>
        <%# link_to("Sign Up", new_user_registration_path) %>
        <%# link_to("Sign Out", destroy_user_session_path, :method => 'delete') %>
      </nav> -->
      <div class="c-section">
        <ul class="c-navigation">
          <li class="c-navigation__item">
            <h2 class="c-title">BOOK STORE</h2>
          </li>
          <li class="c-navigation__item <%= active_class('/') %>">
            <%= link_to_unless_current("Shop Books", root_path, :class=>"c-navigation__link") %>
          </li>
          <li class="c-navigation__item">
            <%= link_to("My Purchases", purchases_path, :class=>"c-navigation__link") %>
          </li>

          <li class="c-navigation__item c-navigation__item--push-right">
            <%= link_to("Sign In", new_user_session_path, :class=>"c-navigation__link") %>
          </li>
          <li class="c-navigation__item">
            <%= link_to("Sign Out", destroy_user_session_path, :method => 'delete', :class=>"c-navigation__link") %>
          </li>
          <li class="c-navigation__item">
             <%= link_to("Sign Up", new_user_registration_path, class:"c-button c-button--small") %>
          </li>
        </ul>
      </div>
    </header>
    <%= yield %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
